@import 'pictures_slider';
@import 'navbar';
@import 'map';
@import 'contact';
@import 'review';



body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin-top: 20px;
  flex-direction: column;
}


.background_image {
  background-size: cover;
  width: -webkit-fill-available;
  height: 89vh;
  margin-top: 2291px;

}


.title-container {
  text-align: center;
  color: rgba(100,100,100, 0.9)
}

@media only screen and (max-width:768px) {
    .background_image{
      height: 85vh;
      margin-top: 2406px;
  }
}
@media only screen and (max-width:426px) {
   .background_image{
    margin-left: 210px;
  }
}
